body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display:flex;
    min-height: 100vh;
}

.sidebar {
     width:220px;
     height: 100vh;
     background: #111827;
     color: white;
     padding: 20px;
}

.sidebar h2{
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li{
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover{
    color: #38bdf8;
}

.main{
    flex: 1;
    padding:20px;
    background: #f1f5f9;
}


.topbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content{
    /* background: white; */
    padding: 10px;
    /* border-radius: 10px; */
}

.cards{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
}

.card-box{
    flex: 1;
    min-width:220px;
    background:white;
    padding: 20px;
    border-radius: 12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.8);

}

.card-box h5{
    margin-bottom: 10px;
    color:#64748b;
}

.card-box h3{
    margin:0;
    font-size: 26px;
}